<!--**********************************
            Sidebar start
***********************************-->
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="dashboard">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="users">
                    <i class="flaticon-381-user-8"></i>
                    <span class="nav-text">Users</span>
                </a>
            </li>
            <li>
                <a href="nfts">
                    <i class="flaticon-381-file-1"></i>
                    <span class="nav-text">NFTs</span>
                </a>
            </li>
            <li>
                <a href="commission">
                    <i class="flaticon-381-percentage"></i>
                    <span class="nav-text">Manage Commission</span>
                </a>
            </li>
            <li>
                <a href="NewsLetterPage">
                    <i class="flaticon-381-file-1"></i>
                    <span class="nav-text">News Letter Emails</span>
                </a>
            </li>
            <li>
                <a href="categories">
                    <i class="flaticon-381-file-1"></i>
                    <span class="nav-text">Categories</span>
                </a>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">CMS Management</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="aboutus">About Us</a></li>
                    <li><a href="terms">Terms & Condition</a></li>
                    <li><a href="faqs">FAQs</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!--**********************************
            Sidebar end
***********************************-->