<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Signin | Archean</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/assets/images/favicon/favicon.ico">
    <!-- Toastr -->
    <link rel="stylesheet" href="../assets/vendor/toastr/css/toastr.min.css">

    <link href="../assets/css/admin-style.css" rel="stylesheet">

</head>

<body class="h-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <h4 class="text-center mb-4">Sign in your account</h4>
                                    <div class="basic-form">
                                        <form class="form-valide-with-icon">
                                            <div class="form-group">
                                                <label class="text-label">Email</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"> <i class="fa fa-user"></i>
                                                        </span>
                                                    </div>
                                                    <input type="text" class="form-control" id="email" name="email"
                                                        placeholder="Enter a Email..">
                                                    <div id="email-error" class="invalid-feedback animated fadeInUp">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="text-label">Password</label>
                                                <div class="input-group transparent-append">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"> <i class="fa fa-lock"></i>
                                                        </span>
                                                    </div>
                                                    <input type="password" class="form-control" id="password"
                                                        name="password" placeholder="Choose a safe one..">
                                                    <div id="password-error" class="invalid-feedback animated fadeInUp">
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="form-row d-flex justify-content-between mt-4 mb-2">
                                                <div class="form-group">

                                                </div>
                                                <div class="form-group">
                                                    <a href="/a/forgotPassword">Forgot Password?</a>
                                                </div>
                                            </div>
                                            <div class="text-center mt-4">
                                                <button type="button" id="signin" class="btn btn-primary btn-block">Sign
                                                    Me In</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="../assets/vendor/global/global.min.js"></script>
    <script src="../assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="../Admin/js/signin.js"></script>

    <!-- Toastr -->
    <script src="../assets/vendor/toastr/js/toastr.min.js"></script>

</body>

</html>