<section class="footer-top sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-center text-lg-left mb-4 mb-lg-0">
                        <a href="#">
                            <img src="../assets/images/bas-tm-logo-1.png" alt="Blockchain Australia Solutions" width="201px"
                                height="46px">
                        </a>
                    </div>
                    <div class="col-lg-8 speaktoexpert col-md-6 offset-md-3 offset-lg-0">
                        <div class="row align-items-center">
                            <div class="col-lg-6 text-center text-lg-right">
                                <h3 class="mb-3 mb-lg-0">Speak with an expert</h3>
                            </div>
                            <div class="col-lg-6">
                                <a href="tel:1300 462 562" class="btn btn-outline-blue">
                                    <span class="iconify" data-icon="carbon:phone-filled" data-inline="false"></span>
                                    <span>1300 462 562</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row flinksrow">
            <ul class="footer-menu pl-0">
                <li class="footer-menu-item">
                    <a href="aboutus" class="nav-link">About Us</a>
                </li>
                <li class="footer-menu-item">
                    <a href="#" class="nav-link">Contact Us</a>
                </li>
                <li class="footer-menu-item">
                    <a href="faqs" class="nav-link">FAQs</a>
                </li>
                <li class="footer-menu-item">
                    <a href="#" class="nav-link">How it works?</a>
                </li>
            </ul>
        </div>
        <div class="row flinksrow newsletterbar align-items-center">
            <div class="col-xl-2 text-center mb-4 mb-xl-0">
                <img src="../assets/images/top-blockchain-dev-co.svg" />
            </div>
            <div class="col-xl-8 mb-4 mb-xl-0">
                <div class="newsletter-cnt">
                    <form class="form-inline flex-lg-row flex-column justify-content-center" action="">
                        <h4 class="mr-0 mr-lg-3 mb-3 mb-lg-0">Join our newsletter</h4>
                        <input type="text" class="form-control mr-0 mr-lg-2 mb-2 mb-lg-0" id="inlineFormInputName2"
                        name="sName" placeholder="Name">
                        <input type="email" class="form-control mr-0 mr-lg-2 mb-2 mb-lg-0"
                            id="inlineFormInputGroupUsername2" name="sEmail" placeholder="Email">
                        <button type="button" class="btn btn-outline-success btn-outline-cta-peach" id="SignUpButton">Sign Up</button>
                    </form>
                </div>
            </div>
            <div class="col-xl-2 mb-xl-0">
                <ul class="socialinks pl-0 mb-0 text-center">
                    <li class="socialinks-item">
                        <a href="#">
                            <span class="iconify" data-icon="ant-design:facebook-filled" data-inline="false"></span>
                        </a>
                    </li>
                    <li class="socialinks-item">
                        <a href="#">
                            <span class="iconify" data-icon="ant-design:twitter-outlined" data-inline="false"></span>
                        </a>
                    </li>
                    <li class="socialinks-item">
                        <a href="#">
                            <span class="iconify" data-icon="ant-design:instagram-outlined" data-inline="false"></span>
                        </a>
                    </li>
                    <li class="socialinks-item">
                        <a href="#">
                            <span class="iconify" data-icon="ant-design:linkedin-filled" data-inline="false"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 mb-3 mb-md-0 text-center text-md-left">
                <p class="copyright mb-0">© 2021 Blockchain Australia Solutions</p>
            </div>
            <div class="col-md-5 mb-3 mb-md-0">
                <ul class="privacy-links pl-0 mb-0">
                    <li class="privacy-links-item"><a href="#">Privacy policy</a></li>
                    <li class="privacy-links-item"><a href="terms">Terms and conditions</a></li>
                </ul>
            </div>
            <div class="col-md-4 text-center text-md-right">
                <p class="copyright mb-0">805/220 Collins Street, Melbourne, VIC 3000</p>
            </div>
        </div>
    </div>
</footer>

<script src="../User/js/footer.js"></script>