<app-header></app-header>

<main class="main">
    <div class="main__author" data-bg="assets/img/bg/bg.png"></div>
    <div class="container">
        <div class="row row--grid">
            <!-- author -->
            <div class="col-12 col-xl-3">
                <div class="author author--page">
                    <div class="author__meta">
                        <a href="author.html" class="author__avatar author__avatar--verified">
                            <img src="{{profileData && profileData.sProfilePicUrl  ? profileData.sProfilePicUrl:''}}"
                                alt="">
                        </a>
                        <h1 class="author__name"><a href="author.html">{{profileData && profileData.sFirstname ?
                                profileData.sFirstname : ''}} {{profileData && profileData.sLastname ?
                                profileData.sLastname : ''}}</a></h1>
                        <h2 class="author__nickname"><a href="author.html"> {{profileData && profileData.sUserName ?
                                profileData.sUserName : ''}}</a></h2>
                        <p class="author__text">{{profileData && profileData.sBio ? profileData.sBio : ''}}</p>
                        <div class="author__code">
                            <input type="text"
                                value="{{profileData && profileData.sWalletAddress ? profileData.sWalletAddress  : ''}}"
                                id="author-code">
                            <button type="button">
                                <span>Copied</span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path
                                        d="M18,19H6a3,3,0,0,1-3-3V8A1,1,0,0,0,1,8v8a5,5,0,0,0,5,5H18a1,1,0,0,0,0-2Zm5-9.06a1.31,1.31,0,0,0-.06-.27l0-.09a1.07,1.07,0,0,0-.19-.28h0l-6-6h0a1.07,1.07,0,0,0-.28-.19l-.09,0L16.06,3H8A3,3,0,0,0,5,6v8a3,3,0,0,0,3,3H20a3,3,0,0,0,3-3V10S23,10,23,9.94ZM17,6.41,19.59,9H18a1,1,0,0,1-1-1ZM21,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V6A1,1,0,0,1,8,5h7V8a3,3,0,0,0,3,3h3Z" />
                                </svg>
                            </button>
                        </div>
                        <a href="javascript:;" class="author__link"><svg xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24">
                                <path
                                    d="M21.41,8.64s0,0,0-.05a10,10,0,0,0-18.78,0s0,0,0,.05a9.86,9.86,0,0,0,0,6.72s0,0,0,.05a10,10,0,0,0,18.78,0s0,0,0-.05a9.86,9.86,0,0,0,0-6.72ZM4.26,14a7.82,7.82,0,0,1,0-4H6.12a16.73,16.73,0,0,0,0,4Zm.82,2h1.4a12.15,12.15,0,0,0,1,2.57A8,8,0,0,1,5.08,16Zm1.4-8H5.08A8,8,0,0,1,7.45,5.43,12.15,12.15,0,0,0,6.48,8ZM11,19.7A6.34,6.34,0,0,1,8.57,16H11ZM11,14H8.14a14.36,14.36,0,0,1,0-4H11Zm0-6H8.57A6.34,6.34,0,0,1,11,4.3Zm7.92,0h-1.4a12.15,12.15,0,0,0-1-2.57A8,8,0,0,1,18.92,8ZM13,4.3A6.34,6.34,0,0,1,15.43,8H13Zm0,15.4V16h2.43A6.34,6.34,0,0,1,13,19.7ZM15.86,14H13V10h2.86a14.36,14.36,0,0,1,0,4Zm.69,4.57a12.15,12.15,0,0,0,1-2.57h1.4A8,8,0,0,1,16.55,18.57ZM19.74,14H17.88A16.16,16.16,0,0,0,18,12a16.28,16.28,0,0,0-.12-2h1.86a7.82,7.82,0,0,1,0,4Z" />
                            </svg> {{profileData && profileData.sEmail ? profileData.sEmail : '@email'}}</a>

                    </div>
                </div>
            </div>
            <!-- end author -->

            <div class="col-12 col-xl-9">
                <!-- title -->
                <div class="main__title main__title--create">
                    <h2>Create</h2>
                </div>
                <!-- end title -->

                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="sign__group sign__group--row">
                            <ul class="sign__radio sign__radio--single">
                                <li (click)="clickSetForm('NFT')">
                                    <input id="NFT" type="radio" name="type" checked>
                                    <label for="NFT">Create NFT</label>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="sign__group sign__group--row">
                            <ul class="sign__radio sign__radio--single">
                                <li (click)="clickSetForm('COLLECTIBLE')">
                                    <input id="COLLECTIBLE" type="radio" name="type">
                                    <label for="COLLECTIBLE">Create Collection</label>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="sign__group sign__group--row">
                            <ul class="sign__radio sign__radio--single">
                                <li (click)="clickSetForm('COLLABORATOR')">
                                    <input id="COLLABORATOR" type="radio" name="type">
                                    <label for="COLLABORATOR">Create Collaborator</label>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <!-- create form COLLABORATOR-->

                <form action="#" class="sign__form sign__form--create" *ngIf="form == 'COLLABORATOR' "
                    name="createCollaboratorForm" [formGroup]="createCollaboratorForm">
                    <div class="row">

                        <div class="col-12">
                            <h4 class="sign__title">Collaborator details</h4>
                        </div>

                        <div class="col-12">
                            <div class="sign__group">
                                <label class="sign__label" for="itemname">Collaborator Full Name *
                                </label>
                                <input type="text" class="sign__input"
                                    [ngClass]="{ 'is-invalid': submitted2 && createCollaboratorForm.controls.sFullname.errors }"
                                    formControlName="sFullname" placeholder="e. g. 'Crypto Heart'">
                                <div class="nft-err" *ngIf="submitted2 && createCollaboratorForm.controls.sFullname.errors">
                                    <span *ngIf="createCollaboratorForm.controls.sFullname.errors?.required">This field is
                                        required.</span>

                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="sign__group">
                                <label class="sign__label" for="itemname">Collaborator Address *
                                </label>
                                <input type="text" class="sign__input"
                                    [ngClass]="{ 'is-invalid': submitted2 && createCollaboratorForm.controls.sAddress.errors }"
                                    formControlName="sAddress" placeholder="e. g. '0x5138d8D462DC20b371b5df7588099e46d8c177A3'">
                                <div class="nft-err" *ngIf="submitted2 && createCollaboratorForm.controls.sAddress.errors">
                                    <span *ngIf="createCollaboratorForm.controls.sAddress.errors?.required">This field is
                                        required.</span>

                                </div>
                            </div>
                        </div>




                        <div class="col-12 col-xl-3">
                            <button type="button" class="sign__btn" (click)="onClickSubmitCollaborator()">Create
                                Collaborator</button>
                        </div>
                    </div>
                </form>

                <!-- end form COLLABORATOR-->

                <!-- create form COLLECTIBLE-->

                <form action="#" class="sign__form sign__form--create" *ngIf="form == 'COLLECTIBLE' "
                    name="createCollectionForm" [formGroup]="createCollectionForm">
                    <div class="row">

                        <div class="col-12">
                            <h4 class="sign__title">Upload file</h4>
                        </div>

                        <div class="col-12">
                            <div class="sign__file">
                                <label id="file1" for="sign__file-upload">e. g. Image</label>
                                <input data-name="#file1" id="sign__file-upload" name="file"
                                    (change)="onSelectDocumentCollection($event)" class="sign__file-upload" type="file"
                                    accept="video/mp4,video/x-m4v,video/*,.png,.jpg,.jpeg">
                            </div>
                        </div>

                        <div class="col-12">
                            <h4 class="sign__title">Collection details</h4>
                        </div>

                        <div class="col-12">
                            <div class="sign__group">
                                <label class="sign__label" for="itemname">Collection Name</label>
                                <input type="text" class="sign__input"
                                    [ngClass]="{ 'is-invalid': submitted1 && createCollectionForm.controls.sName.errors }"
                                    formControlName="sName" placeholder="e. g. 'Crypto Heart'">
                                <div class="nft-err" *ngIf="submitted1 && createCollectionForm.controls.sName.errors">
                                    <span *ngIf="createCollectionForm.controls.sName.errors?.required">This field is
                                        required.</span>

                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="sign__group">
                                <label class="sign__label" for="description">Collection Description </label>
                                <textarea
                                    [ngClass]="{ 'is-invalid': submitted1 && createCollectionForm.controls.sDescription.errors }"
                                    formControlName="sDescription" class="sign__textarea"
                                    placeholder="e. g. 'After purchasing you will able to recived...'"></textarea>
                                <div class="nft-err"
                                    *ngIf="submitted1 && createCollectionForm.controls.sDescription.errors">
                                    <span *ngIf="createCollectionForm.controls.sDescription.errors?.required">This field
                                        is required.</span>
                                </div>
                            </div>
                        </div>



                        <div class="col-12 col-xl-3">
                            <button type="button" class="sign__btn" (click)="onClickSubmitCollection()">Create
                                Collection</button>
                        </div>
                    </div>
                </form>

                <!-- end form COLLECTIBLE-->


                <!-- create form NFT-->
                <form action="#" class="sign__form sign__form--create" *ngIf="form == 'NFT' ">
                    <div class="row">

                        <div class="col-12 col-md-6">
                            <div class="sign__group">
                                <label class="sign__label" for="royalties">Set Category</label>
                                <select id="royalties" name="royalties" class="sign__select">
                                    <option value="">Select Category</option>

                                    <option  *ngFor="let obj of collectionList;" value="1">5%</option>
                                    <option value="Image">Image</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="sign__group">
                                <label class="sign__label" for="royalties">Set Collection</label>
                                <select id="royalties" name="royalties" class="sign__select">
                                    <option value="">Select Collection</option>

                                    <option *ngFor="let obj of collectionList;" value="{{obj.sName ? obj.sName : ''}}">{{obj.sName ? obj.sName : ''}}</option>

                                </select>
                            </div>
                        </div>


                        <div class="col-12">
                            <h4 class="sign__title">Upload file</h4>
                        </div>

                        <div class="col-12">
                            <div class="sign__file">
                                <label id="file1" for="sign__file-upload">e. g. Image</label>
                                <input data-name="#file1" id="sign__file-upload" name="file" class="sign__file-upload"
                                    type="file" accept="video/mp4,video/x-m4v,video/*,.png,.jpg,.jpeg">
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="sign__group">
                                <label class="sign__label" for="itemname">NFT Title/ Name *</label>
                                <input id="itemname" type="text" name="itemname" class="sign__input"
                                    placeholder="e. g. 'Crypto Heart'">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="sign__group">
                                <label class="sign__label" for="itemname">NFT Quantity</label>
                                <input id="itemname" type="number" name="itemname" class="sign__input"
                                    placeholder="e. g. 1 , 2 ,5">
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="sign__group">
                                <label class="sign__label" for="description">NFT Description</label>
                                <textarea id="description" name="description" class="sign__textarea"
                                    placeholder="e. g. 'After purchasing you will able to recived...'"></textarea>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="sign__group">
                                <label class="sign__label" for="royalties">Royalties</label>
                                <select id="royalties" name="royalties" class="sign__select">
                                    <option value="1">5%</option>
                                    <option value="2">10%</option>
                                    <option value="3">20%</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="sign__group">
                                <label class="sign__label" for="size">Size</label>
                                <input id="size" type="text" name="size" class="sign__input" placeholder="e. g. Size">
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="sign__group">
                                <label class="sign__label" for="propertie">Propertie</label>
                                <input id="propertie" type="text" name="propertie" class="sign__input"
                                    placeholder="Subject">
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="sign__group sign__group--row">
                                <ul class="sign__radio sign__radio--single">
                                    <li>
                                        <input id="type1" type="radio" name="type" checked="">
                                        <label for="type1">Put on sale</label>
                                    </li>
                                    <li>
                                        <input id="type2" type="radio" name="type">
                                        <label for="type2">Instant sale price</label>
                                    </li>
                                    <li>
                                        <input id="type3" type="radio" name="type">
                                        <label for="type3">Unlock one purchased</label>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-12 col-xl-3">
                            <button type="button" class="sign__btn">Create NFT</button>
                        </div>
                    </div>
                </form>
                <!-- end form NFT-->
            </div>
        </div>
    </div>
</main>

<app-footer></app-footer>