.sty{
    height :300px;
    width :260px;
    object-fit: cover;
}

.fontCls{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
    margin-bottom: 5px;
}